/*============================================================================
@media screen and (max-width: 479px)
============================================================================*/
@media screen and (max-width: 479px){

/*============================================================================
アニメーション
============================================================================*/
.header-animation{
  animation-name:header-animation;
  animation-duration:2s;
  background: #7addbc;
}
@keyframes header-animation {
  from{
    transform: translateY(-60px);
  }
  to{
    transform: translateY(0px);
  }
}

/*============================================================================
header
============================================================================*/
header{
display:flex;
justify-content:space-between;
  nav{
    ul{
    z-index:3;
    display:flex;
    height:100%;
      li{
        width:160px;
        a{
        color:#fff;
        height:100%;
        display:flex;
        justify-content: center;
        align-items:center;
        text-decoration: none;
        }
      }
    }
  }
}
/*============================================================================
section_career
============================================================================*/
/*.section_career ul{
	display:flex;
  width: 1280px;
  margin: 0px auto;
  justify-content: space-between;
}
.section_career ul li{
	width:25%;
  padding:20px;
}*/
/*============================================================================
skill-level
============================================================================*/
/*.section_skill-level{
  padding:100px 0px;
  background:#FFDE00;
  background-size: 200px;
  .h{
    font-weight:bold;
    font-size:36px;
  }
  ul{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:1100px;
    margin:0px auto;
    li{
    width:300px;
    height:300px;
    background:#fff;
    padding: 20px;
    border-radius: 10px;
    }
  }
}
.section_skill-level:before{
  content: '';
  width: 100%;
  height: 0;
  background:#fff;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all .8s .6s cubic-bezier(.455,.03,.515,.955);
  transition: all .8s .6s cubic-bezier(.455,.03,.515,.955);
}
.section_slill-level ul li:after{
  content:"▶";
  position:absolute;
  right:-20;
  top:50%;
  margin-top:-10px;
  color:#FFDE00;
  font-size:20px;
}*/
/*============================================================================
section_career
============================================================================*/
.section_career{
  min-height:400px;
  background: #F4F4F4;
  padding: 60px 10px 80px;
  .text-area{
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    .h_area{
      margin-bottom:20px;
      .h{
        /*font-family: Poppins,sans-serif;*/
        font-size: 48px;
        font-weight: bold;
        line-height: 1;
        /*letter-spacing: .08em;*/
      }
    }
    .text-box{
      .mb{
        margin-bottom:1em;
      }
    }
  }
}
/*============================================================================
section_skillset
============================================================================*/
.section_skillset{
  padding:60px 0px;
  .inner-area{
    width: 100%;
    margin: 0px auto;
  }
  .title-area{
    width: 100%;
    .h_area{
      width:100%;
      text-align:center;
      padding:20px 0px;
      .h{
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .h_sub-text{
        font-size:18px;
      }
    }
    .img-box{
      width: 100%;
      height: 210px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width:100%;
      }
    }
  }
  .skill-list-area{
    width: 100%;
    padding: 20px;
    background:#F4F4F4;
    ul{
      display:flex;
      flex-wrap:wrap;
    }
  }
}
/*============================================================================
section_recent-work
============================================================================*/
/*.section_recent-work{
  min-height:400px;
  .img-area{
    width:50%;
    background-size: cover;
    height: 100%;
    position: absolute;
  }
  .text-area{
    width: 1120px;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    .inner-box{
      padding: 64px 0px 64px 64px;
      margin-left:50%;
      .h{
        font-family: Poppins,sans-serif;
        font-size: 62px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: .08em;
      }
    }
  }
}*/


/*@media screen and (max-width: 479px)*/
}
