@charset "UTF-8";
/*============================================================================
@media screen and (min-width: 1280px)
============================================================================*/
@media screen and (min-width: 1280px) {
  /*============================================================================
  繧｢繝九Γ繝ｼ繧ｷ繝ｧ繝ｳ
  ============================================================================*/
  .header-animation {
    animation-name: header-animation;
    animation-duration: 2s;
    background: #7addbc;
  }

  @keyframes header-animation {
    from {
      transform: translateY(-60px);
    }
    to {
      transform: translateY(0px);
    }
  }
  /*============================================================================
  header
  ============================================================================*/
  header {
    display: flex;
    justify-content: space-between;
  }
  header nav ul {
    z-index: 3;
    display: flex;
    height: 100%;
  }
  header nav ul li {
    width: 160px;
  }
  header nav ul li a {
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  /*============================================================================
  section_career
  ============================================================================*/
  /*.section_career ul{
  	display:flex;
    width: 1280px;
    margin: 0px auto;
    justify-content: space-between;
  }
  .section_career ul li{
  	width:25%;
    padding:20px;
  }*/
  /*============================================================================
  skill-level
  ============================================================================*/
  /*.section_skill-level{
    padding:100px 0px;
    background:#FFDE00;
    background-size: 200px;
    .h{
      font-weight:bold;
      font-size:36px;
    }
    ul{
      display:flex;
      justify-content: space-between;
      align-items:center;
      width:1100px;
      margin:0px auto;
      li{
      width:300px;
      height:300px;
      background:#fff;
      padding: 20px;
      border-radius: 10px;
      }
    }
  }
  .section_skill-level:before{
    content: '';
    width: 100%;
    height: 0;
    background:#fff;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    -webkit-transition: all .8s .6s cubic-bezier(.455,.03,.515,.955);
    transition: all .8s .6s cubic-bezier(.455,.03,.515,.955);
  }
  .section_slill-level ul li:after{
    content:"笆ｶ";
    position:absolute;
    right:-20;
    top:50%;
    margin-top:-10px;
    color:#FFDE00;
    font-size:20px;
  }*/
  /*============================================================================
  section_career
  ============================================================================*/
  .section_career {
    min-height: 400px;
    background: #F4F4F4;
    padding: 60px 0px 80px;
  }
  .section_career .text-area {
    width: 960px;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
  }
  .section_career .text-area .h_area {
    margin-bottom: 20px;
  }
  .section_career .text-area .h_area .h {
    /*font-family: Poppins,sans-serif;*/
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    /*letter-spacing: .08em;*/
  }
  .section_career .text-area .text-box .mb {
    margin-bottom: 1em;
  }

  /*============================================================================
  section_skillset
  ============================================================================*/
  .section_skillset {
    padding: 60px 0px;
    height: 100vh;
    background: #F4F4F4;
  }
  .section_skillset .inner-area {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0px auto;
  }
  .section_skillset .title-area {
    width: 600px;
    padding-top: 100px;
  }
  .section_skillset .title-area .h_area {
    width: 100%;
    text-align: center;
    padding: 20px 0px;
  }
  .section_skillset .title-area .h_area .h {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .section_skillset .title-area .h_area .h_sub-text {
    font-size: 18px;
  }
  .section_skillset .title-area .img-box {
    width: 590px;
  }
  .section_skillset .title-area .img-box img {
    width: 100%;
  }
  .section_skillset .skill-list-area {
    display: flex;
    justify-content: center;
  }
  .section_skillset .skill-list-area .skill-list-box {
    width: 600px;
    padding: 20px;
    /*background:#fff;
    box-shadow: 2px 2px 2px #ccc;*/
  }
  .section_skillset .skill-list-area .skill-list-box ul {
    display: flex;
    flex-wrap: wrap;
  }

  /*============================================================================
  section_recent-work
  ============================================================================*/
  .section_recent-work {
    min-height: 400px;
  }
  .section_recent-work .img-area {
    width: 50%;
    background-size: cover;
    height: 100%;
    position: absolute;
  }
  .section_recent-work .text-area {
    width: 1120px;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
  }
  .section_recent-work .text-area .inner-box {
    padding: 64px 0px 64px 64px;
    margin-left: 50%;
  }
  .section_recent-work .text-area .inner-box .h {
    font-family: Poppins,sans-serif;
    font-size: 62px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .08em;
    /*-webkit-transform: translateX(-100px);
    transform: translateX(-100px);*/
  }

  /*@media screen and (min-width: 1280px)*/
}

/*# sourceMappingURL=page1280.css.map */
