/*============================================================================
@media screen and (min-width: 480px) and (max-width: 767px)
============================================================================*/
@media screen and (min-width: 480px) and (max-width: 767px){

/*============================================================================
header
============================================================================*/
header{
display:flex;
justify-content:space-between;
  nav{
    ul{
    z-index:3;
    display:flex;
    height:100%;
      li{
        width:160px;
        a{
        color:#fff;
        height:100%;
        display:flex;
        justify-content: center;
        align-items:center;
        text-decoration: none;
        }
      }
    }
  }
}
/*============================================================================
section_career
============================================================================*/
.section_career{
  min-height:400px;
  background: #F4F4F4;
  padding: 60px 0px 80px;
  .text-area{
    width: 480px;
    margin: 0 auto;
    position: relative;
    padding: 0px 10px;
    .h_area{
      margin-bottom:20px;
      .h{
        /*font-family: Poppins,sans-serif;*/
        font-size: 48px;
        font-weight: bold;
        line-height: 1;
        /*letter-spacing: .08em;*/
      }
    }
    .text-box{
      .mb{
        margin-bottom:1em;
      }
    }
  }
}
/*============================================================================
section_skillset
============================================================================*/
.section_skillset{
  .inner-area{
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    margin: 0px auto;
    padding: 0px 0px 60px;
  }
  .title-area{
    width: 480px;
    .h_area{
      width:100%;
      text-align:center;
      padding:20px 0px;
      .h{
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .h_sub-text{
        font-size:18px;
      }
    }
    .img-box{
      width: 480px;
      img{
        width:100%;
      }
    }
  }
  .skill-list-area{
    width: 480px;
    padding: 20px;
    background:#F4F4F4;
    ul{
      display:flex;
      flex-wrap:wrap;
    }
  }
}

/*@media screen and (min-width: 480px) and (max-width: 767px)*/
}
