/*============================================================================
@media screen and (min-width: 1280px)
============================================================================*/
@media screen and (min-width: 1280px){

/*============================================================================
header
============================================================================*/
header{
  display:flex;
  justify-content:space-between;
  nav{
    ul{
    z-index:3;
    display:flex;
    height:100%;
      li{
        width:160px;
        a{
        color:#fff;
        height:100%;
        display:flex;
        justify-content: center;
        align-items:center;
        text-decoration: none;
        }
      }
    }
  }
}
/*============================================================================
section_career
============================================================================*/
.section_career{
  min-height:400px;
  background: #F4F4F4;
  padding: 60px 0px 80px;
  .text-area{
    width: 960px;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    .h_area{
      margin-bottom:20px;
      .h{
        /*font-family: Poppins,sans-serif;*/
        font-size: 48px;
        font-weight: bold;
        line-height: 1;
        /*letter-spacing: .08em;*/
      }
    }
    .text-box{
      .mb{
        margin-bottom:1em;
      }
    }
  }
}
/*============================================================================
section_skillset
============================================================================*/
.section_skillset{
  padding:60px 0px;
  min-height: 100vh;
  .inner-area{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 1280px;
    margin: 0px auto;
  }
  .title-area{
    width: 600px;
    .h_area{
      width:100%;
      text-align:center;
      padding:20px 0px;
      .h{
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .h_sub-text{
        font-size:18px;
      }
    }
    .img-box{
      width:590px;
      img{
        width:100%;
      }
    }
  }
  .skill-list-area{
    display:flex;
    justify-content: center;
    .skill-list-box{
      width: 600px;
      padding: 20px;
      /*background:#fff;
      box-shadow: 2px 2px 2px #ccc;*/
      ul{
        display:flex;
        flex-wrap:wrap;
      }
    }
  }
}
/*============================================================================
section_recent-work
============================================================================*/
.section_recent-work{
  min-height:400px;
  .img-area{
    width:50%;
    background-size: cover;
    height: 100%;
    position: absolute;
  }
  .text-area{
    width: 1120px;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    .inner-box{
      padding: 64px 0px 64px 64px;
      margin-left:50%;
      .h{
        font-family: Poppins,sans-serif;
        font-size: 62px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: .08em;
        /*-webkit-transform: translateX(-100px);
        transform: translateX(-100px);*/
      }
    }
  }
}





/*@media screen and (min-width: 1280px)*/
}
